<%= form_with(model: @house, local: true) do |form| %>
  <% if @house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@house.errors.count, "error") %> interdit(s) ce formulaire d'être enregistré :</h2>

      <ul>
      <% @house.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, "Titre" %>
    <%= form.text_field :title, id: :house_title %>
  </div>

  <div class="field">
    <%= form.label :description, "Description" %>
    <%= form.text_area :description, id: :house_description %>
  </div>

  <div class="field">
    <%= form.label :price, "Prix" %>
    <%= form.number_field :price, id: :house_price %>
  </div>

  <div class="actions">
    <%= form.submit "Enregistrer" %>
  </div>
<% end %>

