<!-- app/views/houses/show.html.erb -->
<div class="container">
  <div class="house-details">
    <% @house.images.each do |image| %>
      <%= image_tag image.variant(resize_to_limit: [100, 100]), class: "house-image" %>
    <% end %>
    <h1><%= @house.title %></h1>
    <p><%= @house.description %></p>
    <p class="house-card-price"><%= number_to_currency(@house.price) %></p>
    <!-- Boutons de modification et de suppression -->
    <% if policy(@house).update? %>
      <%= link_to 'Modifier', edit_house_path(@house), class: 'btn btn-primary' %>
    <% end %>
    <% if policy(@house).destroy? %>
      <%= link_to 'Supprimer', house_path(@house), data: { turbo_method: :delete, turbo_confirm: 'Êtes-vous sûr ?' }, class: 'btn btn-danger' %>
    <% end %>
  </div>
</div>

