<!-- app/views/houses/show.html.erb -->
<div class="container">
  <div class="house-details">
    <% @house.images.each do |image| %>
      <%= image_tag image.variant(resize_to_limit: [500, 500]), class: "house-image" %>
    <% end %>
    <h1><%= @house.title %></h1>
    <p><%= @house.description %></p>
    <% if @house.address.present? %>
      <p>
        <strong>Address:</strong>
        <%= @house.address %>
        <% if @house.postal_code.present? %>, <%= @house.postal_code %><% end %>
        <% if @house.city.present? %> <%= @house.city %><% end %>
      </p>
    <% end %>
    <% if @house.full_address.present? && @house.latitude && @house.longitude %>
      <div id="house-map" style="height: 400px;"></div>

      <script>
        document.addEventListener("DOMContentLoaded", function() {
          var map = L.map('house-map').setView([<%= @house.latitude %>, <%= @house.longitude %>], 13);
          L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
          }).addTo(map);

          var marker = L.marker([<%= @house.latitude %>, <%= @house.longitude %>]).addTo(map);
          marker.bindPopup("<b><%= j(@house.title) %></b><br><%= j(@house.full_address) %>").openPopup();
        });
      </script>
    <% end %>
    <p class="house-card-price"><%= number_to_currency(@house.price) %></p>
    <!-- Boutons de modification et de suppression -->
    <% if policy(@house).update? %>
      <%= link_to 'Modifier', edit_house_path(@house), class: 'btn btn-primary' %>
    <% end %>
    <% if policy(@house).destroy? %>
      <%= link_to 'Supprimer', house_path(@house), data: { turbo_method: :delete, turbo_confirm: 'Êtes-vous sûr ?' }, class: 'btn btn-danger' %>
    <% end %>
    <!-- Formulaire pour mettre en avant la maison -->
    <% if current_user.super_admin? %>
      <%= form_with model: @house, local: true do |form| %>
        <div class="form-group">
          <%= form.label :featured, 'Mettre cette maison en avant' %>
          <%= form.check_box :featured %>
        </div>
        <%= form.submit 'Mettre à jour', class: 'btn btn-info' %>
      <% end %>
    <% end %>
    <!-- Condition pour vérifier si l'utilisateur est connecté -->
    <% if user_signed_in? %>
      <div id="phone-number">
        <button data-controller="house" data-action="click->house#showPhoneNumber" data-house-phone-number-value="<%= @house.user.phone_number %>">Voir le numéro</button>
      </div>

      <%= link_to "Envoyer un message", new_house_message_path(@house), class: "btn" %>
    <% else %>
      <%= link_to "Se connecter pour voir les coordonnées", new_user_session_path %>
    <% end %>
  </div>
</div>


