<h1>Admin Dashboard</h1>

<div class="stats">
  <div class="total-users">
    <h2>Total Users</h2>
    <p><%= @total_users %></p>
  </div>
  <div class="total-houses">
    <h2>Total Houses</h2>
    <p><%= @total_houses %></p>
  </div>
  <div class="average-price">
    <h2>Average Price of Houses</h2>
    <p>$<%= @average_price %></p>
  </div>

  <div class="non-validated-houses">
    <h2>Maisons en attente de validation</h2>
    <% House.where(validated: false).each do |house| %>
      <div class="house">
        <p><%= house.title %></p>
        <p><%= button_to 'Valider cette maison', validate_house_path(house), method: :patch, class: "btn btn-primary" %></p>
      </div>
    <% end %>
  </div>

  <div class="reported-houses">
    <h2>Maisons Signalées</h2>
    <% @reports.each do |report| %>
      <div class="report">
        <p>Maison signalée: <%= link_to report.house.title, house_path(report.house) %></p>
        <p>Signalé par: <%= report.user.email %></p>
        <!-- Bouton pour résoudre le signalement -->
        <%= button_to 'Résoudre', resolve_report_path(report), method: :patch, class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>

</div>
