<h1>Messages</h1>

<% if @houses.any? %>
  <% @houses.each do |house| %>
    <div class="card mb-3">
      <div class="card-header">
        <strong>Maison :</strong> <%= house.title %>
        <% if house.images.attached? %>
          <%= image_tag(house.images.first.variant(resize_to_limit: [100, 100])) %>
        <% end %>
      </div>
      <div class="card-body">
        <% house.messages.each do |message| %>
          <div class="<%= message.user == current_user ? 'sent' : 'received' %> message">
            <p><%= message.content %></p>
            <div class="text-muted">
              <small>Envoyé par: <%= message.user.email %>, <%= time_ago_in_words(message.created_at) %> ago</small>
            </div>
          </div>
        <% end %>
        <%= form_with(model: [house, house.messages.build], local: true) do |form| %>
          <%= form.hidden_field :house_id %>
          <%= form.text_area :content, rows: 2, placeholder: "Type your message here", class: 'form-control' %>
          <%= form.submit "Send", class: 'btn btn-primary mt-2' %>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <p>Aucun message à afficher.</p>
<% end %>


